.header {
  display: flex;
  flex-direction: column;
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #E5E5E5;
  }
  &__content {
    display: flex;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}